*.swp
*/_build
*/*.sbx
*.sbx
_build
*.install
*/*.install
/src/dummy
/src/dummy1
/src/dummy1.sbx
/src/dummy2
/src/dummy2.sbx
/src/dummy3
/src/dummy3.sbx
/src/dummy_disk
/src/rescue_folder/*
/src/rescue_log
/src/log
/osbx.install
/crcccitt/crcccitt_c.install
tests/osbx
/tests/dummy
/tests/dummy1
/tests/dummy1.sbx
/tests/dummy2
/tests/dummy2.sbx
/tests/dummy3
/tests/dummy3.sbx
/tests/dummy_disk
/tests/filler1
/tests/filler2
/tests/filler3
/tests/rescue1.sbx
/tests/rescue2.sbx
/tests/rescue3.sbx
/tests/rescue_log
/tests/rescued_data/*
/tests/rescue1
/tests/crc1
