*.swp
src/_build/
_build/
src/*.byte
/src/compile_error
/src/angstrom.mli
/src/angstrom.mli.reference_only
/src/angstrom_reference_only.mli
/src/dummy_file
/src/dummy_file2
/src/dummy_file_copy
/src/dummy_file_encoded
/src/dummy_file_encoded.backup
